@charset "UTF-8";
.draggable-list {
	display: grid;
	grid-gap: 6px;
	padding: 6px;
	background: whitesmoke;
	border-radius: 4px;
	border: 1px solid #ddda
}
.draggable-list .item {
	list-style: none;
	cursor: move;
	background: #fff;
	border-radius: 3px;
	padding: 6px 9px;
	border: 1px solid #ccc;
	position: relative;
}
/*
.draggable-list.vertical {
	grid-template-rows: repeat(6, 1fr);
}
.draggable-list.horizontal {
	grid-template-columns: repeat(6, 1fr);
}
*/
.draggable-list > .item .details {
	display: block;
	/* float: left; */
	position: relative;
}
.draggable-list > .item .details img {
	height: 43px;
	width: 43px;
	pointer-events: none;
	margin-right: 12px;
	object-fit: cover;
	border-radius: 50%;
}
.draggable-list > .item .details span {
	font-size: 1.13rem;
}
.draggable-list > .item i {
	color: #474747;
	font-size: 1.13rem;
}
.draggable-list > .item.dragging {
	opacity: 0.6;
	background: #595DB844;
}
.draggable-list > .item.dragging :where(.details, i) {
	opacity: 0;
}
.draggable-list > .item > svg {
	display: block;
	/* float: right; */
	position: absolute;
	right: 10px;
	top: 7px;
}